[submodule "bundle/Vundle.vim"]
    path = bundle/Vundle.vim
    url  = https://github.com/gmarik/Vundle.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bash-support.vim"]
    path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/taglist.vim"]
    path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
