[submodule "bundle/Vundle.vim"]
    path = bundle/Vundle.vim
    url  = https://github.com/gmarik/Vundle.vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
